body {
    font-family: 'Your Cyberpunk Font', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e2f; /* Темный фон */
}

header {
    background-color: #4B0082; /* Фиолетовый */
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFD700; /* Золотистый */
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: #FFD700; /* Золотистый */
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF4500; /* Оранжевый при наведении */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4B0082; /* Фиолетовый */
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1, h2, h3 {
    animation: fadeIn 1s ease-in;
}


#registration input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}
